.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: sticky;
    z-index: 1100;
    padding: 30px 50px;
    color: black;
    border-bottom: 2px solid #3470ff;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.nav {
    display: flex;
    gap: 100px;
}

.navLink {
    font-family: "Manrope", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.11;
    color: #121417;
}

.activeNavLink {
    color: #0b44cd;
}