.mainSection {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.listContainer {
    width: 1184px;
    margin: 0 auto;
}

.carsList {
    display: flex;
    flex-wrap: wrap;
}

.carsListItem {
    width: 274px;
    margin-bottom: 50px;
    margin-right: 29px;
}

.carsListItem:nth-child(4n) {
    margin-right: 0;
}

.anverbInfo {
    margin: auto;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.5;
    color: #121417;
}